

<!-- LOGIN MODAL SECTION -->

            <div ng-controller="loginCtrl">

                <!-- LOGIN FORM -->
                <form class="form-inline " name="regLogForm" novalidate ng-controller="userCtrl" ng-controller="customersCtrl" >
                    <h4 class="text-center">LOG IN</h4>

                    <!-- LOGIN -->
                    <div class="form-group">
                        <label class="control-label sr-only" for="email-input">Login </label>
                        <input class="form-control"
                        type="text"
                        placeholder="Login"
                        maxlength="50"
                        minlength="4"
                        name="login"
                        required
                        ng-model="login"
                        id="userLoginSignIn"
                        id="user_login"
                        id="email-input">
                    </div><!-- END LOGIN -->

                    <!-- PASSWORD -->
                    <div class="form-group">
                        <label class="control-label sr-only" for="password-input">Password </label>
                        <input class="form-control"
                        type="password"
                        placeholder="Password"
                        name="passw1"
                        required
                        ng-model="passw1"
                        id="repPasswordSignIn"
                        id="user_password"
                        id="password-input">
                    </div><!-- END PASSWORD -->


                    <button  id="submitLogin" class="btn btn-default signin-button" ng-click="clearLoginForm(); myFunc(); signIn(); submit()" href="/dashboard" type="submit" data-dismiss="modal">Sign in</button>
                </form><!-- END LOGIN FORM-->




</div><!-- END OF LOGIN MODAL SECTION -->
<!-- SCRIPTS  -->
