<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Page Sompliest form</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800">
    <link rel="stylesheet" href="../assets/css/user.css">
    <link rel="stylesheet" href="../assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="../assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="../assets/css/Pretty-Header.css">
</head>

<body ng-app="myBlog"  >


<!-- USER PAGE SECTION -->
    <section  id="userPage" ng-controller="mainNewsCtrl">
        <h1 class="text-center userGreeting">Hello, {{ login.login }}!</h1>
        <h4 class="text-center">Write your article here!</h4>

        <div id="addPost">
            <div class="form-group">
                <input class="input-lg inputPostTitle" type="text" placeholder="Title goes here">
            </div>
            <div class="form-group">
                <textarea rows="4" wrap="hard" spellcheck="true" required="" placeholder="The content goes here" class="commentTextarea"></textarea>
                <button class="btn btn-default commentPosting" type="button">Post it!</button>
            </div>
        </div>

        <div class="clearfix"></div>

        <button class="btn btn-default" type="button" id="userPostsArchive">CLICK HERE TO SEE ALL YOUR POSTS!</button>

    </section><!-- END USER PAGE SECTION -->




    <!-- SCRIPTS  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/untitled.js"></script>
    <script src="../assets/js/custom-ng.js"></script>


</body>

</html>
